@font-face {
    font-family: Inter;
    src: url('/static/font/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
}